.container
	.col-md-4.col-md-offset-4
		%h1 Sign In
		= render 'sessions/form'
		Don't have an account? 
		= link_to 'Create a free account', signup_path
		%hr
		Sign in with:
		%span.fa-stack.fa-lg
			%i.fa.fa-circle.fa-stack-2x
			%i.fa.fa-facebook.fa-stack-1x.fa-inverse 
