.container
	.col-md-4.col-md-offset-4
		%h1 Sign Up
		= render 'form'
		Don't have an account? 
		= link_to 'Sign in', signin_path
		%hr
		Sign up with:
		%span.fa-stack.fa-lg
			%i.fa.fa-circle.fa-stack-2x
			%i.fa.fa-facebook.fa-stack-1x.fa-inverse